<div class="pure-g lined footer">
  <div class="pad-box pure-u-1 pure-u-md-1-3 visible-lg"><br/></div>
  <div class="pad-box pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
    <ul>
      <li><strong>Studio Karat</strong></li>
      <li>Skowronnek & Parnow GbR</li>
      <li>Seumestrasse 8</li>
      <li>10245 Berlin</li>
    </ul>
  </div>
  <div class="pad-box pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
    <ul>
      <li><br/></li>
      <li><a href="{{ site.email_mailto }}">{{ site.email }}</a></li>
      <li>{{ site.ust }}</li>
      <li><a href="https://github.com/studio-karat">github.com/studio-karat</a></li>
      <li class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a></li>
    </ul>
  </div>
</div>
<div class="pure-g sender lined">
  <div class="pad-box pure-u-1 pure-u-md-1 text-center"><small>Made with <i class="icon icon-heart"></i> in Berlin</small></div>
</div>
