.post-meta time {
  font-family: inconsolata, Lucida Console, Courier, monospace;
  font-weight: 300;
  font-size: 0.8em;
}

.article-content p {
  column-gap: 0;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
}

.blog-link {
  position: absolute;
  right: .8em;
  top: .8em;
}

article {
  header {
    margin-bottom: 60px;

    &.preview {
      margin-bottom: 30px;
    }
  }

  h3 {
    margin-top: 45px;
  }

  img {
    margin: 15px 0;
  }

  section {
    padding: 15px 30px 15px 15px;
    margin-top: 45px;

    h3 {
      margin-top: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li { 
      padding-left: 2em; 
      text-indent: -1.4em;
      margin-bottom: 15px;

      &:before {
        content: "\002022";
        padding-right: 1em;
      }
    }
  }

  footer {
    border-top: 1px solid #ddd;
    padding: 4em 0 0;
    margin: 4em 0 0;
    font-size: 0.8em;
    line-height: 2.0;
  }
}
