---
layout: default
---
<article class="pure-g lined" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="pad-box pure-u-1 pure-u-md-1-3">
    <h2>{{ page.title }}</h2>
    <span class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</span>
  </div>
  <div class="pad-box pure-u-1 pure-u-md-2-3 article-content">
    {{ content }}
  </div>
</article>
